*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.vscode/
.idea/
.vs/
.fleet/
.cr/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Rr]epeater/
[Rr]epeaterASPReact/
public/
*assets/
repeaterDevDraft.txt
repeaterDevNotes.txt
repeaterDevTasks.txt
temp/
msbuild.log
msbuild.err
msbuild.wrn

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
